.vs/sledding-game-mods/FileContentIndex/45bcbd0b-f9d1-4fc4-9546-54d9f687e5e0.vsidx
.vs/sledding-game-mods/FileContentIndex/7a7bf3d7-0e9a-48dc-a73e-c5f97582b258.vsidx
.vs/sledding-game-mods/FileContentIndex/92bf2311-985a-4d52-b277-9ed13c32f60d.vsidx
.vs/sledding-game-mods/FileContentIndex/ac9dec76-9061-4a29-b60c-64c562aad813.vsidx
.vs/sledding-game-mods/FileContentIndex/cc8feacd-cf14-41a7-adb4-0ba8d3c5f873.vsidx
.vs/sledding-game-mods/v17/.wsuo
.vs/sledding-game-mods/v17/DocumentLayout.backup.json
.vs/sledding-game-mods/v17/DocumentLayout.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
/.vs
/QOLMod/bin
QOLMod/obj/Debug/net6.0/QOLMod.AssemblyInfo.cs
QOLMod/obj/Debug/net6.0/QOLMod.AssemblyInfoInputs.cache
QOLMod/obj/Debug/net6.0/QOLMod.csproj.Up2Date
QOLMod/obj/Debug/net6.0/QOLMod.dll
QOLMod/obj/Debug/net6.0/QOLMod.pdb
QOLMod/obj/Debug/net6.0/QOLMod.sourcelink.json
QOLMod/obj/Debug/net6.0/ref/QOLMod.dll
QOLMod/obj/Debug/net6.0/refint/QOLMod.dll
QOLMod/obj/Debug/net6.0/refint/QOLMod.dll
QOLMod/obj/Debug/net6.0/ref/QOLMod.dll
QOLMod/obj/Debug/net6.0/QOLMod.sourcelink.json
QOLMod/obj/Debug/net6.0/QOLMod.pdb
QOLMod/obj/Debug/net6.0/QOLMod.dll
QOLMod/obj/Debug/net6.0/QOLMod.AssemblyInfoInputs.cache
QOLMod/obj/Debug/net6.0/QOLMod.AssemblyInfo.cs
QOLMod/obj/Debug/net6.0/QOLMod.AssemblyInfo.cs
QOLMod/obj/Debug/net6.0/QOLMod.AssemblyInfoInputs.cache
QOLMod/obj/Debug/net6.0/QOLMod.dll
QOLMod/obj/Debug/net6.0/QOLMod.pdb
QOLMod/obj/Debug/net6.0/QOLMod.sourcelink.json
QOLMod/obj/Debug/net6.0/ref/QOLMod.dll
QOLMod/obj/Debug/net6.0/refint/QOLMod.dll
/SleddingGameTAS/bin
SleddingGameTAS/obj/Debug/net6.0/ref/SleddingGameTAS.dll
SleddingGameTAS/obj/Debug/net6.0/refint/SleddingGameTAS.dll
SleddingGameTAS/obj/Debug/net6.0/SleddingGameTAS.AssemblyInfo.cs
SleddingGameTAS/obj/Debug/net6.0/SleddingGameTAS.AssemblyInfoInputs.cache
SleddingGameTAS/obj/Debug/net6.0/SleddingGameTAS.dll
SleddingGameTAS/obj/Debug/net6.0/SleddingGameTAS.pdb
SleddingGameTAS/obj/Debug/net6.0/SleddingGameTAS.sourcelink.json
QOLMod/obj/Debug/net6.0/refint/QOLMod.dll
QOLMod/obj/Debug/net6.0/ref/QOLMod.dll
QOLMod/obj/Debug/net6.0/QOLMod.sourcelink.json
QOLMod/obj/Debug/net6.0/QOLMod.pdb
QOLMod/obj/Debug/net6.0/QOLMod.dll
QOLMod/obj/Debug/net6.0/QOLMod.AssemblyInfoInputs.cache
QOLMod/obj/Debug/net6.0/QOLMod.AssemblyInfo.cs
QOLMod/obj/Debug/net6.0/refint/QOLMod.dll
QOLMod/obj/Debug/net6.0/ref/QOLMod.dll
QOLMod/obj/Debug/net6.0/QOLMod.sourcelink.json
QOLMod/obj/Debug/net6.0/QOLMod.pdb
QOLMod/obj/Debug/net6.0/QOLMod.dll
QOLMod/obj/Debug/net6.0/QOLMod.AssemblyInfoInputs.cache
QOLMod/obj/Debug/net6.0/QOLMod.AssemblyInfo.cs
SleddingGameTAS/obj/Debug/net6.0/ref/SleddingGameTAS.dll
SleddingGameTAS/obj/Debug/net6.0/refint/SleddingGameTAS.dll
SleddingGameTAS/obj/Debug/net6.0/SleddingGameTAS.AssemblyInfo.cs
SleddingGameTAS/obj/Debug/net6.0/SleddingGameTAS.AssemblyInfoInputs.cache
SleddingGameTAS/obj/Debug/net6.0/SleddingGameTAS.dll
SleddingGameTAS/obj/Debug/net6.0/SleddingGameTAS.pdb
SleddingGameTAS/obj/Debug/net6.0/SleddingGameTAS.sourcelink.json
*.dll
/SleddingGameTAS/.vs
/SleddingGameTAS/obj
